version: '3'
services:
  test:
    build: .
    container_name: 'type_cacheable_test'
    depends_on:
      redis:
        condition: 'service_healthy'
    links:
      - redis
    environment:
      REDIS_HOST: 'redis'
      REDIS_PORT: 6379
  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'
